.chat-area {
    max-width: 90%;
    width: 100%;
    max-height: 100%;
    background-color: var(--color-bg-stripe);
    border-radius: 20px;
    border: 1px solid var(--color-bg-border);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    resize: both;
    min-width: 280px;
    min-height: 280px;
    position: relative;
}

.chat-area__header {
    width: 100%;
    background-color: var(--color-bg-stripe);
    opacity: .8;
    padding: 18px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-logo-wrapper {
    display: flex; align-items: center;
}


.chat-avatar {
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}


.chat-area-messages {
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0 12px;
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.message {
    width: fit-content;
    max-width: 70%;
    min-width: 120px;
    padding: 4px 6px 15px;
    border-radius: 10px;
    position: relative;
    margin-top: 4px;
}

.message__time {
    position: absolute;
    bottom: -3px;
    right: 4px;
    font-size: 10px;
    font-weight: 200;
    color: var(--color-typo-primary);
}

.message__time_bot {
    left: 5px;
}

.bot-message {
    background-color: var(--color-bg-system);
    margin-right: auto;
}

.my-message {
    background-color: var(--color-bg-brand);
    margin-left: auto;
}

.chat-area-input {
    background-color: var(--color-bg-stripe);
    padding: 8px 12px;
    display: flex;
    align-items: center;
}

.chat-area-input__text-field {
    border-radius: 20px;
    margin-right: 4px;
}